/.idea
/ANPR/.ipynb_checkpoints
/ANPR/Machine Learning Setup.ipynb
/ANPR/anprsys
/ANPR/__pycache__
/ANPR/Detection_Images
/ANPR/realtimeresults.csv
/ANPR/Tensorflow/workspace/annotations/train.record
/ANPR/Tensorflow/workspace/annotations/test.record